.sidebar {
  background: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-top: 80px;
  padding-left: 2%;
  z-index: 5;
  transition: all 0.3s ease;
  overflow-y: auto;
}

.sidebar.open {
  width: 15%;
}

.sidebar.collapsed {
  width: 5%;
  padding-left: 1%;
}

.shortcut-links {
  margin-top: 20px;
}

.side-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
  cursor: pointer;
}

.side-link svg {
  color: #5a5a5a;
  margin-right: 20px;
}

.side-link p {
  font-size: 14px;
  color: #5a5a5a;
}

.side-link:hover svg,
.side-link:hover p {
  color: #ed3833;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 85%;
  margin: 15px 0;
}

.subscriptions-title {
  font-size: 14px;
  color: #606060;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
  font-weight: 500;
}

.subscribed-channels {
  margin-top: 10px;
}

.channel-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  cursor: pointer;
}

.channel-link img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.channel-link p {
  font-size: 14px;
  color: #5a5a5a;
}

.channel-link:hover p {
  color: #ed3833;
}

.content-container {
  display: flex;
}

.main-content {
  margin-left: 5%;
  flex: 1;
  transition: margin-left 0.3s ease;
}

.sidebar.open + .main-content {
  margin-left: 15%;
}

@media (max-width: 900px) {
  .sidebar.collapsed {
    width: 10%;
  }
  
  .sidebar.open {
    width: 25%;
  }
}

@media (max-width: 500px) {
  .sidebar.collapsed {
    display: none;
  }
  
  .sidebar.open {
    width: 70%;
  }
}
